{% extends 'base.html' %}
{% block title %}Целевая таблица - zhalobi{% endblock %}
{% block body %}
<h1>Целевая таблица - rooms</h1>

<table>
    <thead>
        <tr>
            <th>room_id</th>
            <th>home_id</th>
            <th>room_number</th>
            <th>people_count</th>
        </tr>
    </thead>
    <tbody>
        {% for room in rooms_data %}
        <tr>
            <td>{{ room[0] }}</td>
            <td>{{ room[1] }}</td>
            <td>{{ room[2] }}</td>
            <td>{{ room[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('index') }}">Вернуться на главную страницу</a>
{% endblock %}